<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/bull-image.jpeg" width="607" height="510" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="Money Money Money">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Huge selection of delicious recipe ideas</h1>
        <p class="lead">Explore way we can make our account to be <b>strong</b> and <b>heavy</b>. Create Your Own Portfolio, Analyze it with Stock Specialists. Now You can experience Economic Freedom. Let's start Alexandro Henry</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore latest</a>
            <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
        </div>
    </div>
</div>

<!-- Hall of fame Start -->
<h2>Hall of Fame</h2>
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <% if(hedgefund != ''){ %>
        <% hedgefund.forEach(function(hedgefund, index) { %>
        <a href="/hedge/<%- hedgefund._id %>" class="col text-center category__link">
            <div class="category__img halloffame shadow">
                <img src="uploads/managerImg/<%- hedgefund.managerImg %>" alt="<%- hedgefund.manager %>" Loading="lazy">
            </div>
            <div class="pt-1"><%- hedgefund.manager %></div>
        </a>
        <% }) %>
    <% } %>

    <a href="/hedge" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/viewmore.png" alt="View All Categories" Loading="lazy">
        </div>
        <div class="pt-1">
            View All
        </div>
    </a>
</div>
<!-- Hall of fame End -->

  <!-- Submit - Start -->
<section class="px-4 py-5 my-5 text-center">
  <img src="/img/publish-portfolio.jpeg" class="d-block mx-auto mb-4 img-fluid" alt="Publish your recipe for FREE today" width="566" height="208" loading="lazy">
  <h1 class="display-5 fw-bold">Create Your Own Portfolio & Manage It</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Publish your own Magic Recipe in front of thousands of people & get Advices</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/submit-portfolio" class="btn btn-primary btn-dark btn-lg">Submit Portfolio</a>
    </div>
  </div>
</section>
 
<!-- Submit - End -->